<div id="titlePage">
	<span class="titleText">Qui suis-je?</span>
</div>
<div id="divPresentation" class="body">

	<div>
		<div class="centralDiv box glassBlock">
			<p class="citation">Fait de ta vie un rêve et d'un rêve une réalité</p>
			<p class="citation author">Antoine de Saint-Exupéry</p>
			<p>Cette phrase d'Antoine de Saint-Exupéry représente ce que je souhaite transmettre à mes enfants et que je
				m'applique tous les jours. C'est également ce qui explique ma passion pour le développement: du rêve à
				la réalité, il n'y a qu'une ligne de code.</p>
			<p>Je m'appelle William Baroni, développeur full-stack Java et C#. Passionné par l'informatique depuis
				l'adolescence, j'ai toujours garder cette esprit créatif du développeur. Il est vrai qu'au cours des 6
				dernières années, je me suis concentré sur mes projets personnels: père au foyer, travaux de la maison,
				création d'une entreprise. Avant cela, j'ai eu 6 ans d'expérience professionnelle dans l'informatique
				avec une grosse part de développement nottament entre 2014 et 2018.</p>
		</div>

		<div class="centralDiv box glassBlock">
			<p>En 2019, j'ai fondé Crazy Round, un centre de loisirs innovant situé à Bonneville en Haute-Savoie. Cette entreprise, 
				née de ma passion pour le modélisme, proposait aux amateurs et familles de la région un espace dédié 
				aux activités de modèles réduits, notamment des courses de voitures radiocommandées et des vols de drones.</p> 
			<p>Malgré un concept prometteur et l'enthousiasme des passionnés, l'aventure a été interrompue en 2020 en raison de 
				la crise sanitaire du COVID-19. Cette expérience entrepreneuriale m'a néanmoins permis de développer de solides 
				compétences en gestion d'entreprise, animation d'une communauté de passionnés et adaptation face aux défis imprévus du marché.</p>
		</div>

		<div class="centralDiv box glassBlock">
			<img class="illusration" src="/assets/coursecamion.jpg" />
			<p>Toujours investit quelque soit le sujet, je suis un grand passionné qui aime toucher à tout:
				que ce soit manuel, intelectuel ou encore créatif. Probablement le meilleur exemple est ma passion pour
				le modèle réduit: je contruit, je décore et je pilote mes propres véhicules. </p>
		</div>
	</div>
</div>