<div id="titlePage">
	<span class="titleText">Qui suis-je?</span>
</div>
<div id="divPresentation" class="body">

	<div>
		<div class="centralDiv box glassBlock paragraphePresentation">
			<p class="citation">Fait de ta vie un rêve et d'un rêve une réalité</p>
			<p class="citation author">Antoine de Saint-Exupéry</p>
			<p>Cette phrase d'Antoine de Saint-Exupéry représente ce que je souhaite transmettre à mes enfants et que je
				m'applique tous les jours. C'est également ce qui explique ma passion pour le développement: du rêve à la réalité, il n'y a qu'une ligne de code.</p>
			<p>Je m'appelle William Baroni, développeur full-stack Java et C#. Passionné par l'informatique depuis
				l'adolescence, j'ai toujours garder cette esprit créatif du développeur. Il est vrai qu'au cours des 6
				dernières années, je me suis concentré sur mes projets personnels: père au foyer, travaux de la maison,
				création d'une entreprise. Mais ma formation initial se trouve être dans l'informatique, la bio-informatique pour être précis. 
				Mon parcours professionnel entre 2011 et 2018 m'a conduit à devenir développeur full-stack.</p>
		</div>

		<div class="centralDiv box glassBlock">
			<p>Ce parcours professionnel a commencé en décembre 2011 chez Fasteris en tant que Bio-informaticien. J'analysais les qualités des données 
				de séquençage avant de les envoyer aux clients. Dès mon arrivée, il m'a semblé évident qu'une partie du protocol que j'appliquais tous 
				les jours pouvais être automatisé. J'ai donc commencé par automatisé mon poste avant de proposer d'améliorer le LIMS (Laboratory 
				Information Management System) afin d'automatiser d'autre processus comme la préparation des runs de séquençage (calcul des dilutions, répartition 
				des échantillons sur les plaques, création des fichiers pour les robots de pipetage, ...).</p>  
			<p>Lorsque une place s'est libéré au sein de Medisupport (groupement de Laboratoire dont fait partie Fasteris), j'ai eu
				envie de m'orienter entièrement
				vers le développement en intégrant l'équipe informatique du groupe. Au sein de ce service, je ne codais plus tout
				seul dans mon coin. Cette expérience
				m'a permis d'acquérir plusieurs compétences tel que le développement C#, l'utilisation d'API, le développement
				d'interfaces ASP.net et bien d'autre. </p>
		</div>
		
		<div class="centralDiv box glassBlock">
			<p>En 2019, j'ai fondé Crazy Round, un centre de loisirs innovant situé à Bonneville en Haute-Savoie. Cette entreprise, 
				née de ma passion pour le modélisme, proposait aux amateurs et familles de la région un espace dédié 
				aux activités de modèles réduits, notamment des courses de voitures radiocommandées et des vols de drones.</p> 
			<p>Malgré un concept prometteur et l'enthousiasme des passionnés, l'aventure a été interrompue en 2020 en raison de 
				la crise sanitaire du COVID-19. Cette expérience entrepreneuriale m'a néanmoins permis de développer de solides 
				compétences en gestion de projet et d'entreprise, animation d'une communauté de passionnés et adaptation face aux défis imprévus du marché.</p>
		</div>

		<div class="centralDiv box glassBlock">
			<img class="illusration" src="/assets/coursecamion.jpg" />
			<p>Toujours investit quelque soit le sujet, je suis un grand passionné qui aime toucher à tout:
				que ce soit manuel, intelectuel ou encore créatif. Probablement le meilleur exemple est ma passion pour
				le modèle réduit: je contruit, je décore et je pilote mes propres véhicules.Aujourd'hui voilà 6 ans que je 
				participe à un challenge monomarque national qui nous donne rendez-vous tous les mois sur différents circuit de France. </p>
		</div>
	</div>
</div>