<div id="bodyHomePage">
	<div id="homePageMenu"><app-menu /></div>
	<div id="banner">
		<button class="link" (click)="navigateToCV()">
			<img class="exploded" src="assets/LogoWilliamBaroni2.png" />
			<img class="joined" src="assets/LogoWilliamBaroniDroit.png" />
		</button>
		<img id="nameTitle" src="/assets/WilliamBaroniTitle.png" />
		<h5><span ngModel #function></span></h5>
		<p class="citation">Fait de ta vie un rêve et d'un rêve une réalité</p>
		<p class="citation author">Antoine de Saint Exupéry</p>
		<button class="visibleButton" (click)="navigateToPresentation()">En savoir plus</button>
	</div>
</div>